# Python cache
__pycache__/
*.py[cod]
*$py.class

# SQLite DB (if used)
*.db
*.sqlite3

# Environment files (extra safety)
.env.*
!.env.example

# Python build files
build/
develop-eggs/
dist/
downloads/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/

# Uvicorn / Gunicorn logs
*.log

# OS files
Thumbs.db